# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

auto-imports.d.ts

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.bsp/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

project/**/target/

# Terraform
terraform.tfstate.d/
.terraform/
.terraform.lock.hcl
terraform.tfvars
terraform.tfstate*

.venv/

# Lambda Python Stuff
serverless/*/lambda.zip
serverless/*/src/*
!serverless/*/src/alpr_counts.py
!serverless/*/src/alpr_clusters.py
!serverless/*/src/requirements.txt
!serverless/*/src/Dockerfile

# TODO: need a better way to handle python packages

.env
